PORT=8080
DATABASE_URL=postgresql://postgres:password@127.0.0.1:5432/greenlight?sslmode=disable
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=
